{% if page.sub_categories %}
<table border="0" width="100%" cellpadding="0" cellspacing="1">
<tbody>
  <tr class="tdTitle">
    <td colspan="6" class="tdTitle"><b>Categories</b></td>
  </tr>
  <tr>
    <td colspan="6" style="padding:0px;">
      <div style="font-size: 7px;">&nbsp;</div>
    </td>
  </tr>
  <tr>
    <td width="1" style="padding:5px;"></td><td width="33%" style="padding:3px;"></td>
    <td width="1" style="padding:5px;"></td><td width="33%" style="padding:3px;"></td>
    <td width="1" style="padding:5px;"></td><td width="33%" style="padding:3px;"></td>
  </tr>
  {% assign number_of_loops = page.sub_categories.size | divided_by: 3 | plus: 1 %}
  {% for i in (1..number_of_loops) %}
  <tr valign="top">
    {% assign j = i | minus: 1 | times: 3 %}
    {% for category in page.sub_categories limit:3 offset : j %}

      {% assign article_count = 0 %}
      {% for post in site.posts %}
        {% for article_category in post.article_categories %}
          {% if article_category == category %}
            {% for dwnld in post.downloads %}
              {% assign article_count = article_count | plus: 1 %}
            {% endfor %}
          {% else %}
            {% for dwnld in post.downloads %}
              {% if dwnld[1]["category"] == article_category or dwnld[1]["sub_category"] == article_category %}
                {% assign article_count = article_count | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}

    <td width="1" style="padding:5px;"><img src="{{ site.baseurl }}/images/folder.gif" alt="folder" width="15" height="12"></td>
    <td width="33%" style="padding:3px;">
      <a class="catLink" href="{{ site.data.category_data[category]["download_url"] | replace: "basehref+", "basehref+/"| replace: "basehref+", site.baseurl | replace: "'", "" }}">{{ site.data.category_data[category]["name"] }}</a> {% if article_count > 0 %} ({{ article_count }}) {% endif %}<br>
      <div class="catDescription" style="padding-top: 2px;"></div>
    </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tr>
</tbody>
</table>
{% endif %}