{% include search.html %}

<div id="menu_content">
  <script type="text/javascript" src="http://www.knockoutmouse.org/kb/client/jscript/jquery/jquery.js"></script>
  <div class="leftBlock categoryBlock">
    <link rel="stylesheet" href="http://www.knockoutmouse.org/kb/client/skin/dtree.css" type="text/css" />
    <script src="http://www.knockoutmouse.org/kb/client/jscript/dtree/dtree.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
      <!--
      var img_path  = 'http://www.knockoutmouse.org/kb/client/jscript/dtree/';
      var icon_path = 'http://www.knockoutmouse.org/kb/client/images/icons/';
      var basehref = '{{ site.baseurl }}/';
      d = new dTree('d');
      d.config.useCookies = false;
      d.config.inOrder = true;
      d.add(0,  -1,' <b>Downloads</b>',                 basehref+'download');
      {% include dtree-download-folder.html category='komp' %}
      {% include dtree-download-folder.html category='eucomm' %}
      {% include dtree-download-folder.html category='protocol' %}
      {% include dtree-download-folder.html category='sanger_mgp' %}

      document.write(d);

        //-->
    </script>

    <div id="dtree_content"></div>
  </div>

</div>