 <div id="knockoutmouse_header">
   <span id="fontresize"></span>
   <a href="http://www.knockoutmouse.org/" title="International Knockout Mouse Consortium">
     <h1>International Knockout Mouse Consortium - Knowledgebase</h1>
   </a>
 </div>
 
 <div id="knockoutmouse_navigation">
   <ul>
     <li><a href="{{ site.baseurl }}/" title="International Knockout Mouse Consortium">Knowledgebase</a></li>
     <li><a href="{{ site.baseurl }}/download">Downloads</a></li>
     <li><a href="https://www.mousephenotype.org/contact/IKMC-ES-Cells">Ask a question</a></li>
     <li><a href="https://www.mousephenotype.org/about-ikmc">About IKMC</a></li>
     <li><a href="https://www.mousephenotype.org/data/search/gene?kw=*:*">Nominate Gene</a></li>
     <li><a href="https://www.mousephenotype.org/data/search/allele2?kw=*:*">Order Products</a></li>
   </ul>
 </div>
  