<table border="0" width="100%" cellpadding="0" cellspacing="1">
<tbody>
  <tr class="tdTitle">
    <td colspan="6" class="tdTitle"><b>Sub Categories</b></td>
  </tr>
  <tr>
    <td colspan="6" style="padding:0px;">
      <div style="font-size: 7px;">&nbsp;</div>
    </td>
  </tr>
  <tr valign="top">
    <td width="1" style="padding:5px;"><img src="/images/folder.gif" alt="folder" width="15" height="12"></td>
    <td width="100%" style="padding:3px;">
      <a class="catLink" href="http://www.knockoutmouse.org/kb/21/">Screens and Quality Control</a> (3)<br>
      <div class="catDescription" style="padding-top: 2px;"></div>
    </td>
  </tr>
</tbody>
</table>